@{
    Layout = null;
}
@using FirstLab.Models
@model FirstLab.Models.BarData

<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <title> @ViewBag.Title </title>

</head>

<body>

    <div>
        Вы выбрали следующий напиток: <br />

        <p> Тип напитка: @Model.BarType </p>
        <p> Лёд: @Model.ICE </p>
        
    </div>
    @Html.ActionLink("На главную", "Index")

</body>

</html>
